* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 2em 1em 1em 1em;
    border: 2px dashed rgb(145, 28, 28);
    margin: 1.5em
}

.circle {
    margin: 3rem;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50px;
}
